#textdomain wesnoth-For_Power

#define TRAIT_DIVINE
    [trait]
        id=divine
        male_name = _ "divine"
        female_name = _ "female^divine"
        description = _ "immune to drain, slow and poison"
        [effect]
            apply_to=status
            add=unpoisonable
        [/effect]
        [effect]
            apply_to=status
            add=undrainable
        [/effect]
        [effect]
            apply_to=status
            add=unslowable
        [/effect]
    [/trait]
#enddef

#define TRAIT_DIVINE_MUSTHAVE
    {TRAIT_DIVINE}
    [+trait]
        availability="musthave"
    [/trait]
#enddef
